<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe.admin.mapper.XxlJobLogReportMapper">
    <resultMap id="XxlJobLogReport" type="com.xiaohe.admin.core.model.XxlJobLogReport" >
        <result column="id" property="id" />
        <result column="trigger_day" property="triggerDay" />
        <result column="running_count" property="runningCount" />
        <result column="suc_count" property="sucCount" />
        <result column="fail_count" property="failCount" />
    </resultMap>

    <sql id="Base_Column_List">
        t.id,
		t.trigger_day,
		t.running_count,
		t.suc_count,
		t.fail_count
    </sql>


    <update id="update" parameterType="com.xiaohe.admin.core.model.XxlJobLogReport">
        update xxl_job_log_report
        set `running_count` = #{runningCount}, `suc_count` = #{sucCount}, `fail_count` = #{failCount}
        where `trigger_day` = #{triggerDay}
    </update>
    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.xiaohe.admin.core.model.XxlJobLogReport">
        insert into xxl_job_log_report (`trigger_day`,
                                        `running_count`,
                                        `suc_count`,
                                        `fail_count`)
        values (#{triggerDay}, #{runningCount}, #{sucCount}, #{failCount})
    </insert>
    <select id="queryLogReportTotal" resultType="com.xiaohe.admin.core.model.XxlJobLogReport">
        SELECT
            SUM(running_count) running_count,
            SUM(suc_count) suc_count,
            SUM(fail_count) fail_count
        FROM xxl_job_log_report AS t
    </select>
    <select id="queryLogReport" resultType="com.xiaohe.admin.core.model.XxlJobLogReport">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_job_log_report AS t
        WHERE t.trigger_day between #{triggerDayFrom} and #{triggerDayTo}
        ORDER BY t.trigger_day ASC
    </select>
</mapper>